:root {
    --gray: rgb(39, 39, 39);
    --black: rgb(5, 5, 5);
    --white: rgb(235, 235, 235);
    --color: rgb(0, 235, 235);
}

body {
    background-color: var(--black);
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

#container {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    width: 460px; /* Fixed width container */
    height: 100vh;
    padding: 10px;
    border: 3px solid var(--color);
    border-radius: 20px;
}

#logo {
    width: 75%; /* Scale down to 75% */
    max-width: 345px; /* Ensure it matches 75% of 460px */
    height: auto;
    margin: 0;
    margin-bottom: 5px; /* Add space between logo and screen */
}

#screen {
    background-color: var(--black);
    color: var(--white);
    border-radius: 0px;
    width: 100%; /* Match the container width */
    height: 120px; /* Fixed height for 4 lines */
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: var(--color);
    width: 0%;
}

#controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%; /* Match the container width */
}

.control-button {
    background-color: var(--white);
    color: var(--black);
    border: none;
    border-radius: 10px;
    width: 32%; /* Each button takes up one third of the width */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px;
    outline: none;
}

.control-button.active {
    background-color: var(--color);
    color: var(--black);
}

#songSelector {
    background-color: var(--black);
    border-radius: 0px;
    width: 100%; /* Match the container width */
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    margin-top: 0;
    overflow-y: auto;
    box-sizing: border-box; /* Ensure padding is included in width */

    /* Background image styling */
    background-image: url('logo500.png');
    background-size: contain; /* Ensure the image scales down to always be fully visible */
    background-position: center;
    background-repeat: no-repeat;
    /*  opacity: 0.25; /*  Set the opacity of the image */
}

.song-option {
    color: var(--white);
    padding: 5px 5px;
    cursor: pointer;
}

.song-option.active {
    background-color: var(--color);
}

.song-option.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#selectorControls {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    width: 100%; /* Match the container width */
}

.selector-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 0;
    width: calc(33.33% - 4px); /* Divide the width equally among 3 buttons with some margin */
    height: 50px;
    margin: 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    outline: none;
}

/* Media Queries for smaller screens */
@media (max-width: 480px) {
    #container {
        width: 90%;
    }

    .control-button {
        height: 75px;
        font-size: 30px;
    }

    .selector-button {
        height: 40px;
        font-size: 20px;
    }
}
